/* start header top */
.headtop {
    line-height: 35px;
    background-color: #f3f3f3;
}
ul.menutop {
    float: left;
}
ul.menutop li {
    float: left;
    padding: 0 10px;
}
ul.menutop li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
ul.menutop li a:hover {
    color: #eac817;
}
/* end header top */
/* start logo*/
.headmiddle {
    width: 100%;
    background: #fff;
    margin: auto;
    position: relative;
    display: block;
    padding: 5px 0;
}
.logotext {
    text-indent: -9999px;
    font-size: 0;
    position: fixed;
}
.logo {
    float: left;
    width: 17%;
    text-align: left;
    padding: 3px 0 5px 5px;
    position: relative;
}
.logo img {
    max-height: 70px;
    border-radius: 20px;
}
/* end logo*/
/* start search*/
.headsearch {
    float: left;
    width: 30%;
    height: 40px;
    margin: 15px 0 0 0;
    background: #fff;
    position: relative;
    /* border-radius:4px;*/
    /* -webkit-border-radius:4px;*/
    -moz-border-radius: 4px;
    border: 1px solid #e8e8e8;
}
.headsearch .topinput {
    float: left;
    width: 100%;
    padding-top: 1px;
    border: 0;
    position: relative;
    background: #fff;
    height: 38px;
    text-indent: 10px;
    font-size: 14px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.headsearch .btntop {
    float: right;
    width: 50px;
    height: 38px;
    border: 0;
    cursor: pointer;
    background: none;
    position: absolute;
    right: 0;
    background: #fdd504;
}
.headsearch .btntop i.fa {
    font-size: 20px;
    color: #353535;
}
[class^="iconltd-"],
[class*="iconltd-"] {
    background-image: url(images/iconltd.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}
/* end search */
/* start icon sign in/ sign up/ cart */
.iconltd-cart {
    background-position: -89px 6px;
    width: 26px;
    height: 28px;
    display: block;
    margin: auto;
    float: left;
    margin-right: 8px;
}
.notify-box {
    padding-top: 0;
}
.notify-box ul li {
    float: left;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
.notify-box ul li a {
    padding: 0 15px;
    display: inline-block;
}
.notify-box ul li a span.fa {
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
}
.notify-box ul li a i {
    font-size: 12px;
    color: #000;
}
.notify-box ul li a label {
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notify-box ul li a label strong {
    display: block;
}
.notify-box ul li.hotline-li {
    text-align: left;
    padding: 0 5px;
}
.notify-box ul li.hotline-li a i {
    font-size: 16px;
}
.notify-box ul li.cart-hea span i {
    font-size: 13px;
    background: #fdd504;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    display: inline-block;
    color: #000;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: -10px;
    right: -13px;
}
/* end icon sign in/ sign up/ cart */
/* start navbar */
.wh-menu {
    background: #fdd504;
    z-index: 999;
    position: relative;
    margin-bottom: 1px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}
.wh-menu .container {
    padding: 0;
    position: relative;
}

ul.navmenu {
    width: 100%;
    float: left;
}
ul.navmenu > li {
    text-align: center;
    padding: 0 8px;
    float: left;
}
ul.navmenu > li:last-child ul.submenu {
    left: inherit;
    right: 0;
    min-width: 240px;
}
ul.navmenu > li > a {
    font-weight: 300;
    line-height: 20px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    display: block;
    padding: 8px 10px 3px;
    overflow: hidden;
    font-size: 12px;
    color: #211f1f;
}
ul.navmenu > li > a * {
    cursor: pointer;
    font-weight: 300;
}
ul.navmenu > li > a i.fa {
    font-size: 16px;
}
ul.navmenu > li > a > span {
    text-align: center;
    width: 100%;
    height: 30px;
    position: relative;
    display: table;
    vertical-align: middle;
    margin-bottom: 2px;
}
ul.navmenu > li > a > span img {
    display: inline-block;
    max-height: 30px;
}
ul.navmenu > li > a > label {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}
ul.navmenu > li::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #d21212;
    transform: scale(0, 1);
    transform-origin: left center 0;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}
ul.navmenu > li:hover::after,
ul.navmenu > li.active::after {
    transform: scale(1, 1);
}
/* end navbar*/
/*start sub navbar*/
.sub-menu {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 5px 7px -1px rgba(0, 0, 0, 0.4);
    padding: 20px;
    top: 100%;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 9999;
}
.nsm-title {
    color: #f36f20;
    font-size: 14px;
    padding-bottom: 10px;
    background: url("./images/bg-sub-title.png") repeat-x bottom left;
    font-weight: bold;
}
ul.nsm-list {
    list-style: none;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}
ul.nsm-list > li {
    line-height: 29px;
    border-bottom: 1px solid #eaeaea;
    float: left;
    height: 29px;
    overflow: hidden;
}
ul.nsm-list > li > a {
    font-size: 12px;
    display: block;
    color: #333;
    text-transform: none;
}
ul.nsm-list > li > a:hover {
    color: #c91010;
}
ul.nsm-list-2 li {
    width: 45%;
    margin-right: 10%;
}
ul.nsm-list-2 li:nth-child(2n + 2) {
    margin-right: 0;
}
ul.nsm-only > li {
    width: 100%;
}
.img-msm img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    top: 0;
}
.navmenu li:hover .sub-menu {
    display: block;
}
/*end sub navbar*/
/*plugin*/
.plugin-box {
    position: fixed;
    right: 25px;
    bottom: 85px;
    z-index: 9999;
}

.plugin-control {
    margin: 10px 0 0;
    position: relative;
}

.plugin-title {
    display: none;
    border-radius: 5px;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 10px !important;
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 12px !important;
    background: rgba(29, 36, 62, 0.7);
    color: #fff;
}

.plugin-title::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(29, 36, 62, 0.7) transparent transparent !important;
    transform: rotateZ(-180deg);
}

.plugin-a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
}

.plugin-control:hover .plugin-title {
    display: block;
}

.plugin-a.contact {
    background: url(images/contact.svg) no-repeat center center / 40px 40px;
    background-color: #f7a400;
}

.plugin-a.zalo {
    background: url(images/zalo.svg) no-repeat center center / 40px 40px;
    background-color: #f7a400;
}

.plugin-a.facebook {
    background: url(images/facebook.svg) no-repeat center center / 40px 40px;
    background-color: #0068ff;
}

.plugin-a.call {
    background: url(images/call.svg) no-repeat center center / 40px 40px;
    background-color: #0068ff;
}

.plugin-a.scroll {
    background: url(images/scroll-top.png) no-repeat center center / 40px 40px;
    background-color: #f7a400;
}
/*end plugin*/
