.big-banner {
    padding-top: 10px;
    float: right;
    width: 100%;
    min-height: 280px;
}
.big-bn-left {
    float: left;
    width: 65.834%;
}
.big-bn-right {
    float: right;
    width: 33.33%;
}
.big-bn-right img {
    width: 100%;
}
.big-bn-right ul li:nth-child(2) {
    margin-top: 0px;
}
.big-banner img {
    width: 100%;
}

.owl-dots {
    display: none !important;
}
.title-homenew {
    display: block;
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid #fdd504;
    vertical-align: middle;
}
.title-homenew .txt {
    display: inline-block;
    float: left;
    padding: 3px 10px 8px 10px;
    background: #fdd504;
    line-height: 2.5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}
.title-homenew .txt a {
    font-size: 15px;
    color: #333;
    font-weight: bold;
}
.title-homenew b {
    float: left;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 38px solid #af9300;
}
.title-homenew .readmore {
    float: right;
    padding: 3px 10px;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
    color: #288ad8;
    text-transform: uppercase;
    margin-top: 8px;
}
.title-homenew p {
    width: 100%;
    display: inline-block;
    color: red;
    font-size: 12px;
    text-align: right;
    padding-left: 35px;
    padding-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.navcate b {
    float: left;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 38px solid #af9300;
}
ul.list-new-home li {
    display: block;
    background: #fff;
    float: left;
    width: 100%;
    padding: 8px 0;
    position: relative;
}
ul.list-new-home li .box-thumbnail {
    float: right;
    width: 100px;
    vertical-align: middle;
    overflow: hidden;
}
ul.list-new-home li h3 {
    height: auto;
    padding-right: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
ul.list-new-home li span {
    font-size: 12px;
    color: #999;
    margin-right: 10px;
}
.listEvent {
    position: relative;
    float: left;
    display: block;
    padding-top: 5px;
    padding-left: 16px;
    color: #f33;
    font-size: 12px;
    border-radius: 3px 3px 0 0;
    width: 68%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-sonar {
    position: absolute;
    background: #f33;
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    color: #fff;
    outline: none;
    top: 14px;
}
.btn-sonar::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
}
.btn-sonar::before {
    animation: sonar-effect 1s ease-in-out 0.1s infinite;
}
@keyframes sonar-effect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 5px #f00, 0 0 10px 10px #f00, 0 0 0 10px #f00;
    }
    100% {
        box-shadow: 0 0 0 5px #f00, 0 0 10px 10px #f00, 0 0 0 10px #f00;
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes fade-down {
    0% {
        opacity: 1;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.8;
        transform: translateY(15px);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
.homevideo {
    background: #2b2b2b;
    padding: 25px 10px 15px;
    color: #fff;
    border-radius: 10px;
}
ul.list-video {
    padding-bottom: 10px;
}
ul.list-video li {
    float: left;
}
ul.list-video > li.part1 {
    width: 60%;
    padding-right: 15px;
}
ul.list-video > li.part2 {
    width: 40%;
    height: 512px;
    overflow-y: scroll;
}
.cont_video iframe {
    width: 100%;
}
ul.playlist-videos-list li {
    display: block;
    margin: 0 0 8px;
    padding: 0 0 8px;
    border-bottom: 1px dotted #343434;
    width: 100%;
}
ul.playlist-videos-list li:hover {
    background: #333;
}
ul.playlist-videos-list li .box-thumbnail {
    width: 90px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
ul.playlist-videos-list li .box-thumbnail .hm-reponsive {
    padding-top: 78%;
}
ul.playlist-videos-list li .recent-content {
    display: table-cell;
    padding-left: 15px;
    padding-right: 5px;
}
ul.playlist-videos-list li .recent-content .recent-title {
    overflow: hidden;
    line-height: 0;
    margin: 0 0 3px;
    padding: 0;
}
ul.playlist-videos-list li .recent-content .recent-title a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    font-family: "Roboto", sans-serif;
}

.recent-content .reviewd-by {
    color: #ccc;
    display: block;
    padding: 3px 0;
    font-size: 12px;
}
.statistics-meta {
    color: #bbb;
    float: left;
    padding: 4px 0;
    min-width: 100px;
    display: block;
    text-align: left;
}
.statistics-meta > div {
    display: inline-block;
    line-height: 16px;
    padding: 0 7px;
}
.statistics-meta > div i.fa {
    padding-right: 5px;
}
.statistics-meta > div i.fa-eye {
    color: #ff8000;
}
.statistics-meta > div i.fa-facebook-square {
    color: #0080ff;
}
.statistics-meta span {
    font-size: 12px;
}
ul.playlist-videos-list li:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0;
}
.c-product-item_info {
    padding: 6px 15px 0;
    float: left;
    width: 100%;
    text-align: center;
}
.fix-height {
    height: 103px !important;
}
.price-box {
    padding: 3px 0 1px; /* overflow:hidden;*/
    position: relative;
    height: 65px;
}
.price-box .c-price {
    float: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 55px;
    white-space: nowrap;
    color: #c10017;
    padding-right: 8px;
}
.price-box .o-price {
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    text-decoration: line-through;
    white-space: nowrap;
    line-height: 30px;
}
.box-bg {
    background: #f0f0f0;
    padding: 5px 0 0 5px;
}
.fx-btn {
    position: absolute;
    right: 0;
    bottom: 8px;
}
.info-des span {
    display: block;
    padding: 4px 0;
    position: relative;
    padding-left: 18px;
}

.info-des span:before {
    content: "";
    font-family: FontAwesome;
    color: #ff7f25;
    font-size: 10px;
    position: absolute;
    top: 3px;
    left: 0;
}

.info-des label {
    display: block;
    padding: 4px 0;
    position: relative;
    padding-left: 18px;
    font-weight: normal;
}

.info-des label:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #ff7f25;
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 0;
}
.navcate {
    display: block;
    overflow: hidden;
    background: #fff;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid #fdd504;
    padding-top: 10px;
}
.navcate .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #333;
    text-transform: uppercase; /*border-bottom:2px solid #333;*/
    font-size: 14px;
    font-weight: 600;
    background-color: #fdd504;
    float: left;
}
.navcate a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #0074c1;
    padding: 10px;
}
.navcate .title a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    padding: 10px;
}
.listproduct02 li {
    float: left;
    position: relative;
    width: 12.5%;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 5px 5px; /*border:1px solid #fff;*/
}
.bglipro {
    display: block;
    overflow: hidden;
    background: #fff;
    padding-top: 10px;
}
.bglipro .reponsive-img {
    padding-top: 105.25%;
}
p.tvShpping {
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600; /* padding-top:5px;*/
    height: 27px;
}
.newsvideo a.follow {
    background-color: red;
    display: inline-block;
    float: right;
    padding: 0 5px;
    margin: 10px 0 0;
    text-transform: none;
    border-radius: 2px;
    font-size: 11px;
}
.newsvideo a.follow .btnYt {
    background: #fff;
    width: 18px;
    height: 12px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}
.newsvideo a.follow .btnYt .icyt {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid red;
    display: block;
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -3px;
}
.newsvideo a.follow span {
    font-size: 14px;
    vertical-align: middle;
}
ul.list-new-home li h3:hover {
    color: blue;
}
span.btnYt {
    background: #fff;
    width: 18px;
    height: 12px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}
b.icyt {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid red;
    display: block;
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -3px;
}
.stickcompare {
    display: none;
    max-height: 180px;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
    padding-bottom: 75%;
}
ul.list-video > li.part1 .c-product-item_info {
    padding-top: 20px;
}
ul.list-video > li.part1 .price-box .c-price {
    color: #fdd504;
}
ul.list-video > li.part1 .price-box .o-price {
    color: #ccc;
}
ul.list-video > li.part1 .price-box .area_order {
    float: right;
    width: 40%;
    margin: 0;
    position: absolute;
    right: 0;
    top: -10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.c-product-item_info.main-video h4 > a {
    color: #fff;
    display: block;
    font-size: 18px;
}
.area_order {
    display: block;
    margin: 5px 0 5px;
    float: left;
    width: 100%;
    padding-bottom: 5px;
}
.area_order a {
    margin-bottom: 5px;
}
.area_order .buy_now {
    float: left;
    width: 100%;
    overflow: hidden;
    padding: 9px 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: -webkit-gradient(
        linear,
        0% 0%,
        0% 100%,
        from(#fd6e1d),
        to(#f59000)
    );
    background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
    background: -moz-linear-gradient(top, #f59000, #fd6e1d);
    background: -ms-linear-gradient(top, #f59000, #fd6e1d);
    background: -o-linear-gradient(top, #f59000, #fd6e1d);
}
.area_order span {
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: none;
}
.area_order label {
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: none;
}
.area_order .phone_pd_btn {
    line-height: normal;
    float: right;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background: #288ad6;
    background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from(#399eec),
        to(#288ad6)
    );
}
.area_order .time {
    line-height: normal;
    float: right;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    color: #288ad6;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from(#5ab452),
        to(#49a342)
    );
    background: linear-gradient(#eeeeee, #eeeeee);
}
.area_order .order-instalments {
    line-height: normal;
    float: right;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    background: #288ad6;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
/*button theo dõi youtube*/
a.subcribe.follow {
    /* float:right;*/
    background-color: red;
    display: inline-block;
    float: right;
    padding: 5px 5px; /* margin:10px 0 0;*/
    text-transform: none;
    border-radius: 2px;
    font-size: 11px;
  }
